* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff3ff;
}

/* Style the header */
.header {
  background-color: #ededed;
  padding: 20px;
  text-align: center;
}

/* Estilo de barra */
.topnav {
  overflow: hidden;
  background-color: #3D1663;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 7px 7px 20px #9a52ff,
             -7px -7px 20px #fb8eff;
}

/* Style the topnav links */
.topnav-left {
  display: flex;
}

.topnav-center {
  display: flex;
  justify-content: center;
}

.topnav-right {
  display: flex;
  justify-content: flex-end;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Color de Link de barra*/
.topnav a:hover {
  background-color: #A9F468;
  color: #60249B;
  box-shadow: 10px 10px 50px #68EE50,
             -10px -10px 50px #50EECA;
}
  
  .leftcolumn {   
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .group {
   display: flex;
   line-height: 28px;
   align-items: center;
   position: relative;
   max-width: 400px;
   margin-top: 30px;
  }
  
  .input {
   width: 100%;
   height: 40px;
   line-height: 28px;
   padding: 0 1rem;
   padding-left: 2.5rem;
   border: 2px solid transparent;
   border-radius: 8px;
   outline: none;
   background-color: #cffffa;
   box-shadow:  5px 5px 10px #63ffef;
   color: #0d0c22;
   transition: .3s ease;
  }
  
  .input::placeholder {
   color: #9e9ea7;
  }
  
  .input:focus, input:hover {
   outline: none;
   border-color: rgba(234,76,137,0.4);
   background-color: #fff;
    box-shadow:  5px 5px 20px #ff25d0;
  }
  
  .icon {
   position: absolute;
   left: 1rem;
   fill: #9e9ea7;
   width: 1rem;
   height: 1rem;
  }
  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }
  
  .leftcolumn {   
    
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 20px;
    
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 7px 7px 7px #b2fff9,
             -7px -7px 10px #54fdd6;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 5;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(55, 65, 81, 1);
    
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .custom-select {
    position: relative;
    display: block;
    max-width: 200px;
    min-width: 180px;
    margin: 0 auto;
    /*Color Caja*/ 
    background-color: #cffffa;
    box-shadow:  5px 5px 10px #63ffef;
    border-radius: 8px;
    z-index: 10;
  }
  
  .custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;

    color: #e62bff;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  }

  .custom-select:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    text-align: center;
    color: #3C1C78;
    font-size: 24px;
    border-left: 1px solid #714BB9;
    z-index: -1;
  }
  .date{
    background-color: #cffffa;
    border: 1px solid #9fb8ff;
    box-shadow:  3px 3px 10px #25ffff;
   }
   .text{
    color: #e62bff;
    font-family: Tahoma, Geneva, sans-serif;
   }
   .buttonHome{
    width: 20%;
    background-color: #ffa4eb; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow:  5px 5px 20px #ff25d0;
  }
  .buttonHome:hover {
    background-color: #fb8eff;
  }
  h1 {
    color: #8606a0;
  }   