body {
  background-color: #DFEAED;
  font-family: Arial, sans-serif;
  
}

.categoriesDiv {
  width: 25%;
  margin: 0 auto;
}
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ffffa8;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
input[type=text],
input[type=password],
select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  border-radius: 10px;
  background-color: #6200EE;
  padding: 20px;
  margin-top: 50px;
  margin-top: 50px;
  box-shadow: 13px 13px 100px #9a52ff,
             -13px -13px 100px #fb8eff;
}

.button {
  width: 40%;
  background-color: #03Dac5; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow:  5px 5px 20px #03b9a7;
}

.buttonHome{
  width: 30%;
  background-color: #ffa4eb; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow:  5px 5px 20px #ff25d0;
}
.buttonAccount{
  width: 40%;
  background-color: #03Dac5; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow:  5px 5px 20px #03b9a7;
}
h3 {
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  text-align: center;
}


a {
  color: wheat;
  text-decoration: none;
}

a:hover {
  color: rgb(166, 0, 58);
}
/*loader*/
.spinner {
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #fb8eff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #BAFF3B;
 }
 
 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }
 
 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }
 
 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }
 
 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }
 
 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }
 
 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }
 
 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }
 
 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }
 
  50% {
   transform: translateY(-10px);
  }
 }