body {
  background-color: #60249B;
  font-family: Arial, sans-serif;
}

.categoriesDiv {
  width: 50%;
  margin: 0 auto;
}

input[type=text],
input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  border-radius: 10px;
  background-color: #BAFF3B;
  padding: 20px;
  margin-top: 50px;
}

.button {
  width: 50%;
  background-color: #292FE5; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.buttonBack{
  width: 25%;
  background-color: #292FE5; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
h3 {
  font-weight: bold;
  color: rgb(53, 0, 132);
  text-align: center;
}

a {
  color: rgb(133, 0, 145);
  text-decoration: none;
}

a:hover {
  color: rgb(166, 0, 58);
}